$principal-color: #ffea81;
//#ffcda0
$secondary-color: #fff;
$form-color: rgb(242, 234, 245);
$title-font: 'Archivo Black';
$principal-font: 'Open Sans', sans-serif;
@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
* {
    margin: 0;
    padding: 0;
}
#container {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    @include flex-column;
}
.header {
    @include flex-column;
    position: fixed;
    top: 0;
    text-align: center;

    &-img {
        width: 100vw;
        height: 250px;
        overflow: hidden;
        box-shadow: 0px 1px 20px 5px rgba(0, 0, 0, 0.2);
    }
    img {
        width: 100%;
        height: auto;
        transform: translate(0, -70px);
    }
    &-gradient {
        width: 100vw;
        height: 250px;
        position: absolute;
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.2));
    }
}
.title {
    font-family: $title-font;
    font-size: 64px;
    color: $principal-color;
    position: absolute;
    padding-bottom: 50px;
}
.subtitle {
    font-family: $principal-font;
    color: #fff;
    position: absolute;
    padding-top: 50px;
}
.search-group {
    &-bar {
        width: 40vw;
        height: 30px;
        border-radius: 25px;
        padding-left: 15px;
        color: #000;
        background-color: rgba(255, 255, 255, 0.1);
        border: 2px solid $form-color;
        &:hover {
            border: 2px solid darken($form-color, 8%);
        }
    }
    &-button {
        height: 35px;
        width: 100px;
        border-radius: 25px;
        color: #29323c;
        font-family: 'Open Sans', 700;
        font-size: 16px;
        background-color: $form-color;
        border: 2px solid $form-color;
        &:hover {
            background-color: darken($form-color, 5%);
        }
    }
}
