$principal-color: #ffea81;
$secondary-color: #fff;
$form-color: rgb(242, 234, 245);
$text-color: rgba(0, 0, 0, 0.6);
$title-font: 'Archivo Black';
$principal-font: 'Open Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
* {
    margin: 0;
    padding: 0;
}
#container {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    @include flex-column;
}

//HEADER

.header {
    @include flex-column;
    position: fixed;
    top: 0;
    text-align: center;
    &-img {
        width: 100vw;
        height: 250px;
        overflow: hidden;
        box-shadow: 0px 1px 20px 5px rgba(0, 0, 0, 0.2);
    }
    img {
        width: 100%;
        height: auto;
        transform: translate(0, -70px);
    }
    &-gradient {
        width: 100vw;
        height: 250px;
        position: absolute;
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.2));
    }
}
.title {
    font-family: $title-font;
    font-size: 64px;
    color: $principal-color;
    position: absolute;
    padding-bottom: 50px;
}
.subtitle {
    font-family: $principal-font;
    color: #fff;
    position: absolute;
    padding-top: 50px;
}

//HEADER MOBILE
@media (max-width: 600px) {
    .header {
        &-img {
            width: 100vw;
            height: 150px;
        }
        &-gradient {
            width: 100vw;
            height: 150px;
        }
    }
    .title {
        font-size: 32px;
    }
    .subtitle {
        width: 80vw;
    }
}

//SEARCH

.input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.search-group {
    &-dropdown {
        position: relative;
        display: inline-block;
        &:hover .search-group-dropdown-content {
            display: block;
        }
        &-btn {
            width: 500px;
            height: 35px;
            border-radius: 25px;
            padding-left: 15px;
            color: #000;
            text-align: left;
            font-family: $secondary-font;
            color: darken($form-color, 20%);
            background-color: rgba(255, 255, 255, 0.1);
            border: 2px solid $form-color;
            &:hover {
                border: 2px solid darken($form-color, 8%);
            }
        }
        &-content {
            display: none;
            position: absolute;
            background-color: #fff;
            width: 500px;
            height: 250px;

            z-index: 1;
            overflow: scroll;
            .character {
                font-family: $secondary-font;
                color: black;
                padding: 10px 16px;
                text-decoration: none;
                display: block;
                &-selected {
                    background-color: $principal-color;
                    color: #fff;
                }
            }
            .character:hover {
                background-color: $principal-color;
                color: #fff;
            }
        }
    }

    &-button {
        height: 35px;
        width: 100px;
        border-radius: 25px;
        color: #29323c;
        font-family: 'Open Sans', 700;
        font-size: 16px;
        background-color: $form-color;
        border: 2px solid $form-color;
        &:hover {
            background-color: darken($form-color, 5%);
        }
    }
}

// SEARCH MOBILE
@media (max-width: 600px) {
    .search-group-dropdown {
        &-btn {
            width: 200px;
        }
        &-content {
            width: 200px;
        }
    }
}

//MOVIE LIST
.movie-list {
    width: 570px;
    position: fixed;
    top: 370px;
    &-title {
        font-family: $principal-font;
        font-size: 24px;
        color: $principal-color;
    }
    &-ul {
        list-style: none;
        font-family: $secondary-font;
        color: $text-color;
        margin-top: 20px;
    }
}

//MOVIELIST MOBILE

@media (max-width: 600px) {
    .movie-list {
        width: 250px;
        position: fixed;
        top: 300px;
    }
}
