* {
  margin: 0;
  padding: 0; }

#container {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  text-align: center; }
  .header-img {
    width: 100vw;
    height: 250px;
    overflow: hidden;
    box-shadow: 0px 1px 20px 5px rgba(0, 0, 0, 0.2); }
  .header img {
    width: 100%;
    height: auto;
    transform: translate(0, -70px); }
  .header-gradient {
    width: 100vw;
    height: 250px;
    position: absolute;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.2)); }

.title {
  font-family: "Archivo Black";
  font-size: 64px;
  color: #ffea81;
  position: absolute;
  padding-bottom: 50px; }

.subtitle {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  position: absolute;
  padding-top: 50px; }

@media (max-width: 600px) {
  .header-img {
    width: 100vw;
    height: 150px; }
  .header-gradient {
    width: 100vw;
    height: 150px; }
  .title {
    font-size: 32px; }
  .subtitle {
    width: 80vw; } }

.input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

label {
  width: 400px;
  display: block; }

.search-group-dropdown {
  position: relative;
  display: inline-block; }
  .search-group-dropdown:hover .search-group-dropdown-content {
    display: block; }
  .search-group-dropdown-btn {
    width: 500px;
    height: 35px;
    border-radius: 25px;
    padding-left: 15px;
    color: #000;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    color: #c7a5d4;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid #f2eaf5; }
    .search-group-dropdown-btn:hover {
      border: 2px solid #e1cee8; }
  .search-group-dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 500px;
    height: 250px;
    z-index: 1;
    overflow: scroll; }
    .search-group-dropdown-content .character {
      font-family: "Montserrat", sans-serif;
      color: black;
      padding: 10px 16px;
      text-decoration: none;
      display: block; }
      .search-group-dropdown-content .character-selected {
        background-color: #ddc7e5;
        color: #fff; }
    .search-group-dropdown-content .character:hover {
      background-color: #ffea81;
      color: #fff; }

.search-group-button {
  height: 35px;
  width: 100px;
  border-radius: 25px;
  color: #29323c;
  font-family: 'Open Sans', 700;
  font-size: 16px;
  background-color: #f2eaf5;
  border: 2px solid #f2eaf5; }
  .search-group-button:hover {
    background-color: #e7d9ed; }

@media (max-width: 600px) {
  .search-group-dropdown-btn {
    width: 200px; }
  .search-group-dropdown-content {
    width: 200px; } }

.movie-list {
  width: 570px;
  position: fixed;
  top: 370px; }
  .movie-list-title {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    color: #ffea81; }
  .movie-list-ul {
    list-style: none;
    font-family: "Montserrat", sans-serif;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 20px; }

@media (max-width: 600px) {
  .movie-list {
    width: 250px;
    position: fixed;
    top: 300px; } }
